* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.form .form-input {
  width: 50vh;
  margin-right: 10vh;
  padding: 5px 20px;
}